<mat-drawer-container class="notebook-page__sidebar-container" autosize>
  <mat-drawer #drawer opened="true" class="notebook-page__sidebar" mode="side">
    <app-notebook-sidebar></app-notebook-sidebar>
  </mat-drawer>
  <mat-drawer-content 
    ><div class="notebook-page__main-content">
      <mat-icon class="notebook-page__toggle" (click)="drawer.toggle()">
        swap_horizontal
      </mat-icon>
      <app-notebook-main></app-notebook-main></div
  ></mat-drawer-content>
</mat-drawer-container>
