.date-page {
  &__container {
    margin: 0 40px;
  }
  &__header {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 2.6rem;
    font-weight: 500;
  }
  &__date {
    font-weight: 500;
    font-size: 2rem;
    border-radius: 6px;
    padding: 10px 25px;
  }
  &__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
  }
  &__heading {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 550;
    font-size: 1.2rem;
  }
  &__tasks {
    width: 100%;
    &--none {
      margin-right: 20px;
      text-transform: capitalize;
    }
  }

  &__task {
    transition: 0.4s;
    display: flex;
    padding: 15px;
    &:hover {
      background-color: #f2f2f2;
      .date-page__delete {
        transition: 0.4s;
        padding: 2px;
        opacity: 1;
        &:hover {
          filter: saturate(200%);
        }
      }
    }
  }
  &__delete {
    transition: 0.4s;
    opacity: 0;
    position: absolute;
    right: 0;
    margin-right: 65px;
    color: #eb5757;
    &:hover {
      cursor: pointer;
    }
  }

  &__subject {
    display: inline;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 10px;
    color: #0f2862;
  }
  &__btn {
    color: #000;
    background: #c4c4c4;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
      background: #2d9cdb;
      color: #fff;
    }
    &::selection {
      outline: none;
      background: none;
    }
  }
}
