<app-header></app-header>
<div class="date-page__container">
  <div class="date-page__header">
    <h1 class="date-page__title">My Activities:</h1>
    <h2 class="date-page__date">{{ date | date: "MM/dd/yyyy" }}</h2>
  </div>
  <div class="date-page__subtitle">
    <h4 class="date-page__heading">
      Tasks
    </h4>
    <mat-icon
      class="date-page__btn"
      matRipple
      [matRippleColor]="'rgba(0,0,0,0.1)'"
      (click)="openDialogTask(date)"
      >add</mat-icon
    >
  </div>
  <div class="date-page__tasks" *ngIf="tasksForDay$; else NoTasks">
    <app-task-item
      [task]="task"
      *ngFor="let task of tasksForDay$ | async"
      (change)="$event === 'task__deleted' && fetch()"
    ></app-task-item>
  </div>
  <ng-template #NoTasks>
    <div
      class="date-page__tasks--none"
      style="margin: 20px 0 0 20px; color: #414346;"
    >
      No Tasks are on your agenda for today.
    </div>
  </ng-template>

  <div class="date-page__subtitle">
    <h4 class="date-page__heading">
      Events
    </h4>
    <mat-icon
      class="date-page__btn"
      matRipple
      [matRippleColor]="'rgba(0,0,0,0.1)'"
      (click)="openDialogEvent(date)"
      >add</mat-icon
    >
  </div>
  <div class="date-page__events" *ngIf="eventsForDay$; else NoEvents">
    <app-event-item
      [event]="event"
      *ngFor="let event of eventsForDay$ | async"
      (change)="$event === 'event__deleted' && fetch()"
    ></app-event-item>
  </div>
  <ng-template #NoEvents>
    <div
      class="date-page__events--none"
      style="margin: 20px 0 0 20px; color: #414346;"
    >
      No Events are on your calendar for today.
    </div>
  </ng-template>
  <div class="date-page__subtitle">
    <h4 class="date-page__heading">Holidays</h4>

    <mat-icon
      class="date-page__btn"
      matRipple
      [matRippleColor]="'rgba(0,0,0,0.1)'"
      (click)="openDialogHoliday(date)"
      >add</mat-icon
    >
  </div>
  <div class="date-page__holidays" *ngIf="holidaysForDay$; else NoHolidays">
    <app-holiday-item
      [holiday]="holiday"
      *ngFor="let holiday of holidaysForDay$ | async"
      (change)="$event === 'holiday__deleted' && fetch()"
    ></app-holiday-item>
  </div>
  <ng-template #NoHolidays>
    <div
      class="date-page__holidays--none"
      style="margin: 20px 0 0 20px; color: #414346;"
    >
      No Holidays are on your calendar for today.
    </div>
  </ng-template>
</div>
