.date-page {
  &__container {
    margin: 0 40px;
  }
  &__header {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 2.6rem;
    font-weight: 500;
  }
  &__date {
    font-weight: 500;
    font-size: 2rem;
    border-radius: 6px;
  }
  &__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
  }
  &__heading {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 550;
    font-size: 1.2rem;
  }
  &__tasks {
    width: 100%;
    &--none {
      margin-right: 20px;
      text-transform: capitalize;
    }
  }

  &__btn {
    color: #000;
    transform: scale(0.9);
    background: #c4c4c4;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
      background: #2d9cdb;
      color: #fff;
    }
    &::selection {
      outline: none;
      background: none;
    }
  }
}
