<form [formGroup]="addEventForm" class="addEvent__form">
  <h1 mat-dialog-title class="addEvent__title">Add New Event</h1>
  <div mat-dialog-content class="addEvent__content">
    <p class="addEvent__subtitle">Is there an upcoming event?</p>
    <mat-form-field class="addEvent__form-field">
      <mat-label class="addTask__label">Description</mat-label>
      <mat-error *ngIf="eventName.invalid">This field is required</mat-error>
      <input matInput class="addEvent__text" formControlName="eventName" />
    </mat-form-field>
    <mat-form-field class="addEvent__form-field">
      <mat-label class="addEvent__label">Location</mat-label>
      <input matInput class="addEvent__text" formControlName="eventLocation" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="addEvent__buttons">
    <button
      mat-button
      color="warn"
      class="addEvent__cancel"
      (click)="onNoClick()"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      class="addEvent__submit"
      [disabled]="addEventForm.invalid"
      (click)="createEvent()"
    >
      Create Event
    </button>
  </div>
</form>
