.footer {
  &__container {
    background-color: #e4e4e4;
    width: 100%;
    padding: 20px 0;
    bottom: 0px;
    position: relative;
  }
  &__links {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__link {
    color: #333333;
    text-decoration: none;
    margin: 0 20px;
    transition: 0.4s;
    &:hover {
      color: #000000;
    }
  }
  &__signature {
    color: #333333;
  }
  &__link,
  &__signature {
    @media only screen and (max-width: 568px) {
      font-size: 0.75rem;
    }
  }
}
