.header {
  &__toolbar {
    background: #1b1e23;
    color: #f7f7f7;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin: 0 24px;
    display: flex;
    align-items: center;
  }
  &__navigation {
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
  &__menu {
    padding: 5px;
    margin-right: 10px;
    @media only screen and (min-width: 800px) {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__links {
    display: flex;
    align-items: center;
  }
  &__link {
    font-size: 0.9rem;
    text-decoration: none;
    color: #f7f7f7;
    outline: none;
    margin: 0 24px;
    padding: 0 1px;
    position: relative;
    font-weight: 500;
    transition: 0.3s ease-in-out 0s;
    text-transform: uppercase;
    &-active {
      color: #c0a0ff;
    }
    &:hover {
      cursor: pointer;
      color: #9b51e0;
    }
  }
}

#logout {
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eb5757;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover {
    color: #eb5757;
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}
