<mat-toolbar class="header__toolbar">
  <span class="header__title">Schoolie</span>
  <div class="header__links">
    <span
      class="header__link"
      [routerLink]="['/home']"
      routerLinkActive="header__link-active"
      (click)="redirect('/home')"
      >Home</span
    >
    <span
      class="header__link"
      [routerLink]="['/notebook']"
      routerLinkActive="header__link-active"
      (click)="redirect('/notebook')"
      >Notes</span
    >
    <span
      class="header__link"
      [routerLink]="['/calendar']"
      routerLinkActive="header__link-active"
      (click)="redirect('/calendar')"
      >Calendar</span
    >
    <span class="header__link" id="logout" (click)="onLogout()">Logout</span>
  </div>
</mat-toolbar>
