<div class="task-item__task">
  <mat-checkbox
    [checked]="task.completed"
    (change)="updateTask(task)"
    class="task-item__checkbox"
    color="primary"
    ><div
      class="task-item__checkbox-info"
      style="white-space: pre-wrap; word-break: break-word;"
    >
      <span class="task-item__name">{{ task.name }}</span>
      <p class="task-item__subject">{{ task.subject }}</p>
    </div>
  </mat-checkbox>
  <mat-icon class="task-item__delete" (click)="deleteTask(task)"
    >delete</mat-icon
  >
</div>
