.notebook-page {
  &__main-container {
    text-align: center;
  }
  &__default {
    margin-top: 60px;
  }
  &__art {
    width: 35vw;
  }
  &__caption {
    font-weight: 500;
    margin: 20px 0;
  }
  &__action {
    color: #ff3c3c;
  }
  &__editor {
    width: 800px;
    margin-top: 60px;
  }
  &__editor-info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__editor-title,
  &__editor-tags {
    font-weight: 500;
    display: inline;
    display: flex;
    align-items: center;
  }
  &__editor-title {
    font-size: 2rem;
  }
  &__tag-icon {
    color: #f2994a;
  }
  &__tag-name {
    margin: 0 3px;
    color: #4f4f4f;
    font-weight: 400;
    font-size: 0.8rem;
  }
  &__btn {
    text-transform: capitalize;
    margin-top: 20px;
  }
}
