<div class="notebook-page__main-container">
  <div class="notebook-page__default" *ngIf="!isSelected">
    <img
      class="notebook-page__art"
      src="../../../assets/images/notes_cover.svg"
    />
    <p class="notebook-page__caption">
      No file is currently selected. Click
      <span class="notebook-page__action">here</span> to create a new file.
    </p>
  </div>
  <div class="notebook-page__editor" *ngIf="isSelected">
    {{ note.name }} <br />
    {{ note.tags }}
    {{ note.date | date: "yyyy-mm-dd" }}
    <ckeditor
      [(ngModel)]="model.editorData"
      [editor]="Editor"
      (ready)="onReady($event)"
    ></ckeditor>
  </div>
  <button (click)="createNote()">Click To Create Note!</button>
</div>
