<div class="notebook-page__main-container">
  <div class="notebook-page__default" *ngIf="!isSelected">
    <img
      class="notebook-page__art"
      src="../../../assets/images/notes_cover.svg"
    />
    <p class="notebook-page__caption">
      No file is currently selected. Please
      <a class="notebook-page__action">select a file</a> to begin writing.
    </p>
  </div>
  <div class="notebook-page__editor" *ngIf="isSelected">
    <div class="notebook-page__editor-info">
      <h2 class="notebook-page__editor-title">{{ note.name }}</h2>
      <h2 class="notebook-page__editor-tags">
        <mat-icon class="notebook-page__tag-icon">label</mat-icon
        ><span class="notebook-page__tag-name" *ngFor="let tag of note.tags"
          >{{ tag.name }},</span
        >
      </h2>
    </div>
    <ckeditor
      [(ngModel)]="model.editorData"
      [editor]="Editor"
      (ready)="onReady($event)"
    ></ckeditor>
    <button
      mat-flat-button
      color="primary"
      class="notebook-page__btn"
      (click)="saveNote(note)"
    >
      Save
    </button>
  </div>
</div>
