.holiday-item {
  &__holiday {
    transition: 0.4s;
    display: flex;
    padding: 15px;
    &:hover {
      background-color: #f2f2f2;
      .holiday-item__delete {
        transition: 0.4s;
        padding: 0;
        opacity: 1;
        &:hover {
          filter: saturate(200%);
        }
      }
    }
  }
  &__delete {
    transition: 0.4s;
    opacity: 0;
    position: absolute;
    right: 0;
    margin-right: 55px;
    color: #eb5757;
    &:hover {
      cursor: pointer;
    }
  }
}
