<app-header></app-header>
<div class="home-page__home-container">
  <div class="home-page__header">
    <h1 class="home-page__title">{{ greeting }}, {{ userName }}!</h1>
    <h4 class="home-page__date">{{ curDate | date: "MMMM d, y" }}</h4>
  </div>
  <p class="home-page__heading">
    This Week's Agenda
    <mat-icon class="home-page__arrow">keyboard_arrow_right</mat-icon>
  </p>
  <div class="home-page__week">
    <div
      class="home-page__day"
      *ngFor="let day of daysForWeek$ | async; let i = index"
    >
      <div class="home-page__display">
        <div class="home-page__sidebar">
          <div
            class="home-page__info"
            [ngStyle]="{ 'border-color': getColors(i) }"
          >
            <div class="home-page__day-of-week">{{ day.name }}</div>
            <div class="home-page__info-date">
              {{ day.date | date: "MM/dd/yyyy" }}
            </div>
          </div>
          <button
            mat-flat-button
            color="primary"
            class="home-page__btn"
            (click)="openDialog(day)"
          >
            Add New
          </button>
        </div>
        <div class="home-page__tasks">
          <app-task-item
            [task]="task"
            *ngFor="let task of day.tasks$ | async"
            (change)="$event === 'task__deleted' && fetch()"
          ></app-task-item>
        </div>
      </div>
    </div>
  </div>
</div>
