.calendar-page {
  &__container {
    max-width: 1080px;
    margin: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  &__title {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    padding: 25px 0;
  }
  &__previous,
  &__after {
    transform: scale(1.75);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: #eb5757;
    }
    &::selection {
      color: none;
      background: none;
    }
  }
  &__info {
    font-weight: normal;
    text-transform: capitalize;
  }
  &__wrapper {
    padding: 25px 40px 60px 40px;
    @media (max-width: 800px) {
      padding: 25px 20px 60px 20px;
    }
  }
  &__date-grid,
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  &__date-grid {
    grid-template-rows: repeat(6, minmax(65px, auto));
  }
  &__day {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #eb5757;
  }
  &__cell {
    display: flex;
    justify-content: flex-end;
    border: 0.5px solid rgba(0, 0, 0, 0.22);
  }

  &__labels {
    padding: 5px 5px 0 0;
    @media (max-width: 800px) {
      padding-right: 0;
    }
  }
  &__tasks,
  &__events,
  &__holidays {
    display: flex;
    flex-direction: column;
  }
  &__counter {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 1px 0;
    padding: 2px 10px;
    font-size: 0.6rem;
    font-weight: 500;
    @media (max-width: 800px) {
      padding: 2px 4px;
    }
    &:hover {
      cursor: default;
    }
    &::selection {
      color: none;
      background: none;
    }
    &--tasks {
      background: #fada5e;
    }
    &--events {
      background: #56ccf2;
    }
    &--holidays {
      background: #eb5757b2;
    }
  }

  &__empty {
    border: none;
  }
  &__number {
    font-weight: 500;
    margin: 5px 5px 5px 0;
    font-size: 0.9rem;
    color: #3c4043;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;
    &::selection {
      color: none;
      background: none;
    }
    &:hover {
      background: #eb57578a;
    }
  }
  &__today {
    background-color: #eb5757;
    margin-left: 2px;
    color: #ffffff;
    &:hover {
      background-color: #ca4b4b;
    }
  }
  &__other-month {
    color: rgba(0, 0, 0, 0.26);
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}
