.calendar-page {
  &__container {
    background-color: #f1f1f1;
    width: 100%;
    height: calc(100vh - 64px); //*Subtracting height of toolbar
  }
  &__title {
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    vertical-align: middle;
    padding: 25px 0;
  }
  &__previous,
  &__after {
    transform: scale(1.75);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: #eb5757;
    }
    &::selection {
      color: none;
      background: none;
    }
  }
  &__info {
    font-weight: normal;
    text-transform: capitalize;
  }
  &__wrapper {
    padding: 25px 40px 0 40px;
  }
  &__date-grid,
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  &__date-grid {
    grid-template-rows: repeat(6, minmax(65px, auto));
  }
  &__day {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #eb5757;
  }
  &__cell {
    display: flex;
    justify-content: flex-end;
    border: 0.5px solid rgba(0, 0, 0, 0.22);
  }
  &__empty {
    border: none;
  }
  &__number {
    font-weight: 500;
    margin: 5px 5px 5px 0;
    font-size: 0.9rem;
    color: #3c4043;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;
    &::selection {
      color: none;
      background: none;
    }
    &:hover {
      background: #eb57578a;
    }
  }
  &__today {
    background-color: #eb5757;
    color: #ffffff;
    &:hover {
      background-color: #ca4b4b;
    }
  }
}
