<app-header></app-header>
<div class="calendar-page__container">
  <div class="calendar-page__title">
    <mat-icon
      class="calendar-page__previous"
      (click)="changeDate('prev')"
      matRipple
      [matRippleColor]="'rgba(235, 87, 87, 0.2)'"
      >keyboard_arrow_left</mat-icon
    >
    <h2 class="calendar-page__info">
      {{ curMonth }} {{ curDate.getFullYear() }}
    </h2>
    <mat-icon
      class="calendar-page__after"
      (click)="changeDate('after')"
      matRipple
      [matRippleColor]="'rgba(235, 87, 87, 0.2)'"
      >keyboard_arrow_right</mat-icon
    >
  </div>
  <div class="calendar-page__wrapper">
    <div class="calendar-page__days">
      <h4 class="calendar-page__day" *ngFor="let day of daysOfWeek">
        {{ day }}
      </h4>
    </div>
    <div class="calendar-page__date-grid">
      <div
        class="calendar-page__cell"
        *ngFor="let dateCell of dates"
        [ngClass]="{ 'calendar-page__empty': !dateCell.date }"
      >
        <div class="calendar-page__labels">
          <div class="calendar-page__tasks" *ngIf="dateCell.taskCount">
            <span class="calendar-page__counter calendar-page__counter--tasks"
              >Tasks ({{ dateCell.taskCount }})</span
            >
          </div>
          <div class="calendar-page__events" *ngIf="dateCell.eventCount">
            <span class="calendar-page__counter calendar-page__counter--events"
              >Events ({{ dateCell.eventCount }})</span
            >
          </div>
          <div class="calendar-page__holidays" *ngIf="dateCell.holidayCount">
            <span
              class="calendar-page__counter calendar-page__counter--holidays"
              >Holidays ({{ dateCell.holidayCount }})</span
            >
          </div>
        </div>
        <div *ngIf="!dateCell.date; else hasDate"></div>
        <ng-template #hasDate>
          <div
            #hasDate
            class="calendar-page__number"
            (click)="redirect(dateCell.date)"
            [ngClass]="{
              'calendar-page__today':
                dateCell.date.getTime() === today.getTime(),
              'calendar-page__other-month': dateCell.isCurrentMonth === false
            }"
          >
            {{ dateCell.date.getDate() }}
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
