:host {
  display: grid;
  grid-template-columns: 1fr 2fr;
  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    padding-top: 40px;
  }
}

.login-page {
  &__art {
    height: 100vh;
    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
  &__logo {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 40px;
    width: auto;
    @media (max-width: 568px) {
      height: 30px;
      top: 10px;
      right: 10px;
    }
  }
  &__login-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__form-label {
    font-weight: 500;
  }
  &__form-field {
    display: block;
    width: 30vw;
    margin-bottom: 10px;
    @media only screen and (max-width: 1000px) {
      width: 350px;
    }
    @media (max-width: 568px) {
      width: 300px;
    }
  }
  &__form-icon {
    vertical-align: bottom;
    margin-right: 6px;
    color: #828282;
  }
  &__title {
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: 2.4rem;
    margin: 40px 0;
  }
  &__subtitle {
    text-align: right;
    margin-bottom: 30px;
    &-link {
      font-weight: 500;
      font-size: 0.85rem;
      text-decoration: none;
      color: #828282;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__btn {
    background: linear-gradient(to right, #028cbc, #00cdda);
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1.05em;
    margin-bottom: 26px;
    padding: 2px 0;
    width: 30vw;
    color: #fff;
    transition: filter 0.4s;
    @media only screen and (max-width: 1000px) {
      width: 350px;
    }
    &:hover {
      filter: saturate(130%);
    }
    &:disabled {
      color: #fff;
      &:hover {
        filter: none;
      }
    }
  }

  &__signup {
    color: #828282;
    font-size: 0.9rem;
    &-link {
      color: #ff3c3c;
      font-weight: 500;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
