.notebook-page {
  &__shortcuts {
    display: grid;
    grid-template-columns: 60px auto;
    height: 100%;
  }
  &__icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #152238;
  }
  &__icon {
    color: #152238;
    background: #f2f2f2;
    padding: 5px;
    border-radius: 50%;
    transition: 0.4s;
    &:hover {
      cursor: pointer;
      background: #c4c4c4;
    }
  }
  &__menu {
    padding: 0 20px;
  }
  &__search {
    width: 100%;
  }
  &__form-field {
    display: block;
    margin-top: 15px;
  }
  &__form-icon {
    margin-right: 6px;
    vertical-align: bottom;
  }
  &__menu-icon {
    color: #eb5757;
    margin-right: 5px;
  }
  &__menu-title {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.85rem;
  }
  &__note {
    background: #f2f2f2;
    border-radius: 10px;
  }
}
