<div class="notebook-page__shortcuts">
  <div class="notebook-page__icons">
    <mat-icon class="notebook-page__icon">note_add</mat-icon>
    <mat-icon class="notebook-page__icon">create_new_folder</mat-icon>
    <mat-icon class="notebook-page__icon">grade</mat-icon>
    <mat-icon class="notebook-page__icon">delete</mat-icon>
  </div>
  <div class="notebook-page__menu">
    <mat-form-field class="notebook-page__form-field"
      ><mat-label>Search</mat-label
      ><input matInput class="notebook-page__search" type="search" />
      <mat-icon class="notebook-page__form-icon" matPrefix
        >search</mat-icon
      ></mat-form-field
    >
    <h4 class="notebook-page__menu-title">
      <mat-icon class="notebook-page__menu-icon">book</mat-icon>My Notebook
    </h4>
  </div>
</div>
