.notebook-page {
  &__sidebar {
    height: 100%;
    width: 90px;
    background-color: #152238;
    box-shadow: none;
  }
  &__icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    color: #152238;
    background: #f2f2f2;
    border-radius: 50%;
    transform: scale(1.2);
    padding: 5px;
    margin: 40px 0;
    transition: 0.4s;

    &:hover {
      cursor: pointer;
    }
  }
}
