<div class="home-page__home-container">
  <div class="home-page__header">
    <h1 class="home-page__title">Good Morning!</h1>
    <h4 class="home-page__date">March 11, 2020</h4>
  </div>
  <div class="home-page__navbar">
    <img class="home-page__icon" src="..\..\assets\images\notes.svg " />
    <img class="home-page__icon" src="..\..\assets\images\calendar.svg " />
    <img class="home-page__icon" src="..\..\assets\images\profile.svg " />
  </div>
  <div class="home-page__heading">
    <h3 class="home-page__heading-title">This Week's Agenda</h3>
    <mat-icon class="home-page__arrow">keyboard_arrow_right</mat-icon>
    <div class="home-page__line"></div>
  </div>
  <div class="home-page__week">
    <div class="home-page__day">
      <div class="home-page__info">
        <div class="home-page__day-of-week">Monday</div>
        <div class="home-page__date">03/11/2020</div>
      </div>
      <div class="home-page__tasks"></div>
      <button mat-flat-button color="primary" class="home-page__btn">
        Add New
      </button>
    </div>
  </div>
</div>
