<div class="home-page__home-container">
  <div class="home-page__header">
    <h1 class="home-page__title">Good Morning, {{ userName }}!</h1>
    <h4 class="home-page__date">{{ curDate | date: "MMMM d, y" }}</h4>
  </div>
  <div class="home-page__navbar">
    <img class="home-page__icon" src="..\..\assets\images\notes.svg " />
    <img class="home-page__icon" src="..\..\assets\images\calendar.svg " />
    <img class="home-page__icon" src="..\..\assets\images\profile.svg " />
  </div>
  <p class="home-page__heading">
    This Week's Agenda
    <mat-icon class="home-page__arrow">keyboard_arrow_right</mat-icon>
  </p>
  <div class="home-page__week">
    <div class="home-page__day" *ngFor="let day of daysForWeek$ | async">
      <div class="home-page__display">
        <div class="home-page__sidebar">
          <div class="home-page__info">
            <div class="home-page__day-of-week">{{ day.name }}</div>
            <div class="home-page__info-date">
              {{ day.date | date: "MM/dd/yyyy" }}
            </div>
          </div>
          <button
            mat-flat-button
            color="primary"
            class="home-page__btn"
            (click)="openDialog(day)"
          >
            Add New
          </button>
        </div>
        <div class="home-page__tasks">
          <div class="home-page__task" *ngFor="let task of day.tasks$ | async">
            <mat-checkbox
              [checked]="task.completed"
              (change)="updateTask(task)"
              class="home-page__checkbox"
              color="primary"
              >{{ task.name }}</mat-checkbox
            >
            <p class="home-page__subject">{{ task.subject }}</p>
            <mat-icon class="home-page__delete" (click)="deleteTask(task)"
              >delete</mat-icon
            >
          </div>
        </div>
        <ng-template #NoTasks>
          <div
            class="home-page__tasks--none"
            style="font-style: italic; margin: 20px 0 0 20px; color: #414346;"
          >
            Nothing is on your agenda for today!
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
