<div class="register-page__register-container">
  <h1 class="register-page__title">Sign Up?</h1>
  <form [formGroup]="registerForm" class="register-page__form">
    <mat-form-field class="register-page__form-field">
      <mat-label class="register-page__form-label">Name</mat-label>
      <mat-icon matPrefix class="register-page__form-icon"
        >account_box</mat-icon
      >
      <input matInput formControlName="username" />
    </mat-form-field>
    <mat-form-field class="register-page__form-field">
      <mat-label class="register-page__form-label">Email</mat-label>
      <mat-icon matPrefix class="register-page__form-icon">email</mat-icon>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="email.invalid && email.touched">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field class="register-page__form-field">
      <mat-label class="register-page__form-label">Password</mat-label>
      <mat-icon matPrefix class="register-page__form-icon">lock</mat-icon>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="password.invalid && password.touched">
        Must be 6-20 characters
        <br />
        Must have an uppercase, lowercase, and number
      </mat-error>
    </mat-form-field>
    <button
      class="register-page__btn"
      mat-flat-button
      color="primary"
      [disabled]="registerForm.invalid"
      (click)="onRegister()"
      type="submit"
    >
      register
    </button>
  </form>
  <p class="register-page__login">
    Already have an account?
    <a
      routerLink="/login"
      routerLinkActive="active"
      class="register-page__login-link"
      >Login Here</a
    >
  </p>
</div>
<img class="register-page__art" src="..\..\assets\images\register.svg " />
